$primary: #ddff00;
$secondary: black;
$font-size: 60px;
$heading: green;

body {
  background: $primary;
  h1 {
    font-size: 60px;
    color: $secondary;
    font-weight: 400;
    background: $heading;
  }
}